html, body, div, section, p, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  /*text-align: center;*/
  display: block;
}

.title {
  margin-top: 60px;
}

.panel {
  margin-top: 40px;
}
/*
.thumbnail img {
  height: 50px;
}*/


.front-end, .back-end {
  display: flex;
  justify-content: space-around;
}

.thumbnail .caption {
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
}

.skills {
  margin-top: 20px;
}
