html, body, div, section, p, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  /*text-align: center;*/
  display: block;
}

.title {
  margin-top: 60px;
}

.panel {
  margin-top: 40px;
}

.thumbnail:hover {
  border: 1px solid steelblue;
}

.front-end, .back-end {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.thumbnail .caption {
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
}

.myskills {
  margin-top: 20px;
}

.profile-pic {
  float: left;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 10px;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

div.about {
  margin-top: 20px;
}

.about p {
  margin-top: 10px;
}

#skills {
  padding-top: 100px;
}

#contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

#about {
  padding-top: 50px;
  font-size: 15px;
}

#about p {
  line-height: 1.5;
}

section {
  padding-top: 30px;
}

.jumbotron {
  height: 400px;
  background-image: url('./images/bamboo.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.jumbotron p {
  margin-top: 20px;
}

.banner {
  margin-top: 80px;
  color: white;
  text-align: center;
  text-shadow: -6px 1px 5px black;
}

.jumbotron h1 {
  font-size: 70px;
  margin-top: 40px;
}
