html, body, div, section, p, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  /*text-align: center;*/
  display: block;
}

.title {
  margin-top: 60px;
}

.panel {
  margin-top: 40px;
}

.thumbnail:hover {
  border: 1px solid steelblue;
}


.front-end, .back-end {
  display: flex;
  justify-content: space-around;
}

.thumbnail .caption {
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
}

.skills {
  margin-top: 20px;
}

.profile-pic {
  float: left;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 10px;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
